*{
	font-size:12px;
}
body {
    font-family:helvetica,tahoma,verdana,sans-serif;
    padding:0px;
    font-size:13px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
	background:#FFFEE6;
	color:#8F5700;
	padding:12px;
}
.demo-tip{
	width:16px;
	height:16px;
	margin-right:8px;
	float:left;
}

.table_list,
.table_list th,
.table_list td      { border:1px solid #97b4d6;word-wrap:break-word;overflow:hidden;}
.table_list         { table-layout:fixed; margin:0; width:100%;border-collapse:collapse;}
.table_list th      { background:#edf6ff; padding-right:5px; font-size:13px; font-weight:normal; text-align:right;}
.table_list td      { font-size:12px; padding:3px 6px;}