@charset "utf-8";

.wrap_all {background:url(../images/bg/index_bj.jpg) no-repeat center top;}
.logo{ height:70px;background:url(../images/public/logo.png) no-repeat 0 0;width:535px; }
.top_r { position:absolute;background:url(../images/public/header_right.jpg) repeat-x 0 0;width:421px;height:70px;right:0;top:0;}

.side {width:210px;float:left;background:#0589ff; overflow:hidden;}
.right_wrap{overflow:hidden; overflow-x:hidden; background:#edf1f4; display:block;}

.lv1Link { display:block; color:#00942a;height:30px; background:url(../images/public/arow-3.gif) left center no-repeat; padding-left:12px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap; _width:92% }
.left-lv-3-title { padding-left:34px; background:url(../images/public/arow-4.gif) no-repeat 16px center; height:26px; line-height:26px; color:#003b70; cursor:pointer;overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.lv2-t {  background:url(../images/public/arow-1.gif) no-repeat left center; padding-left:17px; height:30px; line-height:30px; display:block; color:#eee; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; _width:83% }
a.lv2-t:hover { color:#fff;}

.level-4 { padding-left:58px; display:block; height:26px; line-height:26px; background:url(../images/public/arow-6.gif) no-repeat 40px center; color:#fff;overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
a.level-4:hover,.lv4cur { background-color:#8ccaff;}

.lv5tit { font-size:12px; line-height:28px; color:#0060B5; padding-left:64px; display:block}
a.lv5tit:hover { color:#3579d2;}

.left-lv-2-title .cur { color:#fff}
.left-lv-3-wrap .cur { background-image:url(../images/public/arow-5.gif);}
.left-lv4-wrap a.cur {background:url(../images/public/arow-6.gif) no-repeat 40px center #8ccaff;}

/* main */
.nav_con{width:100%;}
.nav_tab{width:100%;}
.nav_tab table td{height:20px;line-height:20px;padding:4px 0;font-size:12px;color:#0589ff;}
.nav_tab table td input.cx_btn{border:none;width:56px;height:21px;line-height:20px;color:#fff;background:url(../images/bg/btn_bg.gif) no-repeat 0 0;cursor:pointer;}

.add_box{float:left;width:100%;padding:4px 0;}

.cxjg_tab table th{height:33px;font:14px/33px 'Microsoft Yahei';color:#0075bf;background:url(../images/bg/th_bg.gif) repeat-x 0 0;text-align:center;border-bottom:none;}
.cxjg_tab table th div{background:url(../images/bg/thr_bg.gif) no-repeat right 0;}
.cxjg_tab table th div.no_back{background:none;}


/*footer style*/
.footer {background:url(../images/public/footer.jpg) repeat-x 0 0;height:26px;line-height:26px;color:#0589ff;text-align:center;}
.bar {width:14px;float:left; background:#edf1f4 url(../images/public/bar_bj.gif) no-repeat 100% 50%; cursor:pointer;}
.bar_cur {background:#edf1f4 url(../images/public/bar_bj.gif) no-repeat 0 50%;}

.page_r input.go{margin-left:10px;width:18px;height:22px;background:url(../images/bg/go_bg.gif) no-repeat 0 0;border:none;cursor:pointer}

.submit_btn{width:66px;height:26px;line-height:26px;border:none;background:url(../images/bg/btn_01.gif) no-repeat 0 0;color:#fff;font-size:14px;margin:0 10px;cursor:pointer;}
.reset_btn{width:66px;height:26px;line-height:26px;border:none;background:url(../images/bg/btn_02.gif) no-repeat 0 0;color:#fff;font-size:14px;margin:0 10px;cursor:pointer;}

/* pop-up */
.pop_tit{height:33px;line-height:33px;border:1px solid #0058a3;position:relative;background:url(../images/bg/pop_t_bg.gif) repeat-x 0 0;}
.pop_tit span{padding-left:10px;color:#fff;font-size:12px;}
.cx_btn{border:none;width:56px;height:21px;line-height:20px;color:#fff;background:url(../images/bg/btn_bg.gif) no-repeat 0 0;cursor:pointer;}

			
/*圆角边框开始*/
.xtop, .xbottom {display:block;background:transparent;font-size:1px;}
.xb1, .xb2, .xb3, .xb4 {display:block;overflow:hidden;}
.xb1, .xb2, .xb3 {height:1px;}
.xb2, .xb3, .xb4 {border-left:1px solid #77cce7;border-right:1px solid #A1D4FF;}
.xb1 {margin:0 5px;background:#A1D4FF;}
.xb2 {margin:0 3px;border-width:0 2px;}
.xb3 {margin:0 2px;}
.xb4 {height:2px;margin:0 1px;}
.xboxcon {margin:0px;display:block;border:0 solid #A1D4FF;border-width:0 1px; height:100px;}
.item_title{height:33px;font:14px/33px 'Microsoft Yahei';color:#0075bf;border-bottom:none;margin-right: 20px;margin-left: 20px;}
/*圆角边框结束*/
